{
    "tabWidth": 4,
    "trailingComma": "all",
    "objectWrap": "collapse",
    "arrowParens": "always",
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "jsxSingleQuote": true,
    "bracketSpacing": true
}

