@import "tailwindcss";

html {
    scroll-behavior: smooth;
    background-color: #f8f8ff;
}

section,
.hero,
footer {
    max-width: 1240px;
    margin-inline: auto;
}

a:hover {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    html,
    header {
        background-color: oklch(20.8% 0.042 265.755);
        color: white;
    }
}
