@import "tailwindcss";

html {
    scroll-behavior: smooth;
    background-color: #f8f8ff;
}

section,
.hero,
footer {
    max-width: 1240px;
    margin-inline: auto;
}

a:hover {
    cursor: pointer;
}
